@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";


$highlight-text-color: white;
$bg-color: #f1f0ed;
$text-color: #4f4f4f;
$secondy-text-color: #b1b4b9;
$button-color: #6cdcac;
$border-color: #9c9c9c;
$dark-color: #4e5367;
$gray-color: #b1b4b9;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
  background: $bg-color;
}

.hero {
  max-width: 144em;
  height: 40em;
  margin: 0 auto;
  background: url('../images/IMG_0937.png') no-repeat;
  background-size: cover;
  color: $highlight-text-color;

  header {
    img {
      width: 15em;
      height: 3em;
      margin: 1em .5em;
      float: left;
    }
    ul {
      float: right;
      li {
        float: left;
        margin: 1em .5em;
        padding: .5em 1em;
        border: 1px solid transparent;
        border-radius: 2px;
        &:last-child {
          border: 1px solid $highlight-text-color;
        }
      }
    }
    @include clearfix;
  }
  h1 {
    font-size: 4em;
    padding: 1em 0 .5em 0;
    font-weight: bold;
  }
  h2 {
    font-size: 2em;
    color: $secondy-text-color;
  }

  form {
    padding: 2em 0 4em 0;

    input[type="text"] {
      margin-top: 10px;
      padding: 10px;
      border: 0;
      width: 36%;
      height: 30px;
      border-radius: 2px 0 0 2px;
      background-color: $bg-color;
      opacity: .3;
    }

    input[type="button"] {
      color: $highlight-text-color;
      padding: 10px 20px;
      border: 0;
      height: 50px;
      border-radius: 0 2px 2px 0;
      text-transform: uppercase;
      background-color: $button-color;
      font-weight: bold;
    }
  }
}

.numbers {
  width: 80%;
  margin: 0 auto;

  ul {
    position: relative;
    top: -4em;
    background-color: $bg-color;

    li {
      float: left;
      width: 25%;
      box-sizing: border-box;
      border-top: 1px solid $secondy-text-color;
      border-bottom: 1px solid $secondy-text-color;
      border-left: 1px solid $secondy-text-color;

      &:last-child {
        border-right: 1px solid $secondy-text-color;
      }

      h2 {
        font-size: 2em;
        padding: 1em 0;
      }

      h3 {
        padding: 0 0 2em 0;
      }
    }

    @include clearfix;
  }
}

.how-it-works {
  border-bottom: 1px $secondy-text-color solid;
  h2 {
    font-size: 2em;
    text-transform: uppercase;
    padding: 1em 0;

    &:after {
      display: block;
      content: "";
      background-color: $border-color;
      width: 2em;
      height: .1em;
      margin: .4em auto;
    }
  }

  ul {
    li {
      float: left;
      width: 33.33%;
      position: relative;

      &:before {
        display: block;
        content: "";
        background-color: $border-color;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 4em;
        left: 50%;
        margin: 0 2em;
      }

      &:last-child:before {
        display: none;
      }

      .detail {
        .number {
          font-size: 2em;
          color: $border-color;
          border: 1px solid $border-color;
          width: 1em;
          height: 1em;
          display: block;
          margin: 1em auto 2em auto;
          padding: .4em;
          @include border-radius(100%);
          background-color: $bg-color;
        }

        h3 {
          font-size: 2em;
          margin: 1em auto;
          font-weight: bold;
        }

        i {
          font-size: 3.6em;
        }

        .fa-list {
          color: #eca95a;
        }

        .fa-pencil {
          color: #ac9cd2;
        }

        .fa-users {
          color: #4d99cb;
        }

        p {
          font-size: 1.5em;
          margin: 10px auto 120px auto;
          color: $secondy-text-color;
          width: 210px;
        }
      }
    }
  }

  @include clearfix;
}

.why-choose-us {
  margin-top: 90px;
  border-bottom: 1px $secondy-text-color solid;
  overflow: hidden;
  .title {
    font-size: 2em;
    text-transform: uppercase;
    padding: 1em 0;

    &:after {
      display: block;
      content: "";
      background-color: $border-color;
      width: 2em;
      height: .1em;
      margin: .4em auto;
    }
  }
  ul {
    margin: 80px 10% 140px 10%;
    li {
      position: relative;
      width: 50%;
      float: left;
      height: 200px;
      i {
        position: relative;
        font-size: 3.6em;
        float: left;
      }
      .reason {
        text-align: left;
        margin: 0 10% 0 13%;
        color: $text-color;
        h2 {
          font-size: 3em;
        }
        p {
          margin-top: 20px;
          line-height: 20px;
          font-size: 1.5em;
          color: $secondy-text-color;
        }
      }

      .fa-check {
        color: #57b381;
      }
      .fa-refresh {
        color: #e69949;
      }
      .fa-file-text {
        color: #ec546b;
      }
      .fa-tag {
        color: #15a4e4;
      }
      .fa-user {
        color: #9e62b7;
      }
      .fa-thumbs-up {
        color: #e66949;
      }
    }
  }

  @include clearfix;
}

.about-us {
  text-align: center;
  border-bottom: 1px $secondy-text-color solid;
  .title {
    margin: 100px auto 0 auto;
    width: 410px;
    overflow: hidden;
    position: relative;

    h3 {
      width: 200px;
      float: left;
      height: 60px;
      text-align: center;
      line-height: 60px;
    }
    h3:first-child {
      background-color: $dark-color;
      border: 1px $dark-color solid;
      color: white;
    }
    h3:last-child {
      border: 1px $dark-color solid;
      color: $dark-color;
    }
  }
  .description {
    width: 100%;
    margin-top: 40px;

    i {
      margin-bottom: 30px;
      color: rgba(219, 219, 219, 0.5);
      font-size: 2.5em;
    }
    p {
      color: $dark-color;
      font-size: 1.5em;
      margin-bottom: 50px;
      padding: 0 20%;
      line-height: 20px;
      &::after {
        display: block;
        content: "";
        background-color: $border-color;
        width: 2em;
        height: .1em;
        margin: .4em auto;
      }
    }
    h3 {
      font-size: 2em;
    }
    .author {
      color: $dark-color;
    }
    .intro {
      margin: 10px auto 40px auto;
      color: $gray-color;
    }
    .images {
      margin: 0px auto 120px auto;
      overflow: hidden;
      text-align: center;
      width: 184*3px;
      .image {
        float: left;
        width: 120px;
        margin: auto 25px;
        @include border-radius(50%);
        border: 1px $border-color solid;
        padding: 6px;
        img {
          width: 120px;
          height: 120px;
          @include border-radius(50%);
        }
        &:first-child, &:last-child {
          @include filter(grayscale(100%));
        }
      }
    }
  }

  @include clearfix;
}


.find-an-agent {
  padding: 110px 0;
  overflow: hidden;
  background: url('../images/08.jpg');
  background-size: cover;
  text-align: center;
  span {
    font-size: 2.5em;
    margin-right: 10px;
    color: white;
  }

  input[type="text"] {
    margin-top: 10px;
    padding: 10px;
    border: 0;
    width: 36%;
    height: 30px;
    border-radius: 2px 0 0 2px;
    background-color: $bg-color;
    opacity: .7;
  }

  input[type="button"] {
    color: $highlight-text-color;
    padding: 10px 30px;
    border: 0;
    height: 50px;
    border-radius: 0 2px 2px 0;
    text-transform: uppercase;
    background-color: $button-color;
    font-weight: bold;
  }
}
