@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icomoon";

$highlight-text-color: white;
$bg-color: #efefef;
$text-color: #4f4f4f;
$secondy-text-color: #d9dada;
$button-color: #6cdcac;
$border-color: #9c9c9c;

@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot?200299');
  src: url('../fonts/icomoon.eot?#iefix200299') format('embedded-opentype'),
       url('../fonts/icomoon.woff?200299') format('woff'),
       url('../fonts/icomoon.ttf?200299') format('truetype'),
       url('../fonts/icomoon.svg?200299#icomoon') format('svg');
  font-size: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
}

.hero {
  max-width: 110em;
  margin: 0 auto;
  background: url('/images/IMG_0937.png');
  background-size: cover;
  color: $highlight-text-color;

  header {
    img {
      width: 15em;
      height: 3em;
      margin: 1em .5em;
      float: left;
    }
    ul {
      float: right;
      li {
        float: left;
        margin: 1em .5em;
        padding: .5em 1em;
        border: 1px solid transparent;
        border-radius: 2px;
        &:last-child {
          border: 1px solid $highlight-text-color;
        }
      }
    }
    @include clearfix;
  }
  h1 {
    font-size: 4em;
    padding: 1em 0 .5em 0;
    font-weight: bold;
  }
  h2 {
    font-size: 2em;
    color: $secondy-text-color;
  }

  form {
    padding: 2em 0 4em 0;

    input[type="text"] {
      padding: 1em;
      border: 0;
      width: 18em;
      border-radius: 2px 0 0 2px;
      background-color: $bg-color;
      opacity: .3;
    }

    input[type="button"] {
      color: $highlight-text-color;
      padding: 1em;
      border: 0;
      width: 6em;
      border-radius: 0 2px 2px 0;
      text-transform: uppercase;
      background-color: $button-color;
    }
  }
}

.numbers {
  width: 80%;
  margin: 0 auto;

  ul {
    position: relative;
    top: -1em;
    background: $bg-color;

    li {
      float: left;
      width: 25%;
      box-sizing: border-box;
      border-top: 1px solid $secondy-text-color;
      border-bottom: 1px solid $secondy-text-color;
      border-left: 1px solid $secondy-text-color;

      &:last-child {
        border-right: 1px solid $secondy-text-color;
      }

      h2 {
        font-size: 2em;
        padding: 1em 0;
      }

      h3 {
        padding: 0 0 2em 0;
      }
    }

    @include clearfix;
  }
}

.how-it-works {
  h2 {
    font-size: 2em;
    text-transform: uppercase;
    padding: 1em 0;

    &:after {
      display: block;
      content: "";
      background-color: $border-color;
      width: 2em;
      height: .1em;
      margin: .4em auto;
    }
  }

  ul {
    li {
      float: left;
      width: 33.33%;
      position: relative;

      &:before {
        display: block;
        content: "";
        background-color: $border-color;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 4em;
        left: 50%;
        margin: 0 2em;
      }

      &:last-child:before {
        display: none;
      }

      .detail {
        .number {
          font-size: 2em;
          color: $border-color;
          border: 1px solid $border-color;
          width: 1em;
          height: 1em;
          display: block;
          margin: 1em auto 2em auto;
          padding: .4em;
          @include border-radius(100%);
          background-color: $bg-color;
        }

        h3 {
          font-size: 2em;
          margin: 1em auto;
          font-weight: bold;
        }

        i {
          font-size: 3.6em;
        }

        .icon-list {
          color: #eca95a;
        }

        .icon-pencil {
          color: #ac9cd2;
        }

        .icon-users {
          color: #4d99cb;
        }

        p {
          font-size: 1.5em;
          margin: auto 1.5em;
          color: $secondy-text-color;
        }
      }
    }
  }
}
