/* line 5, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
  background: #f1f0ed;
}

/* line 22, ../sass/styles.scss */
.hero {
  max-width: 144em;
  height: 40em;
  margin: 0 auto;
  background: url("../images/IMG_0937.png") no-repeat;
  background-size: cover;
  color: white;
}
/* line 30, ../sass/styles.scss */
.hero header {
  margin: 0 10%;
  overflow: hidden;
  *zoom: 1;
}
/* line 32, ../sass/styles.scss */
.hero header img {
  width: 15em;
  height: 3em;
  margin: 1em .5em;
  float: left;
}
/* line 38, ../sass/styles.scss */
.hero header ul {
  float: right;
}
/* line 40, ../sass/styles.scss */
.hero header ul li {
  font-size: 1.5em;
  float: left;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 47, ../sass/styles.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 54, ../sass/styles.scss */
.hero h1 {
  font-size: 4em;
  padding: 1em 0 .5em 0;
  font-weight: bold;
}
/* line 59, ../sass/styles.scss */
.hero h2 {
  font-size: 2em;
  color: #b1b4b9;
}
/* line 64, ../sass/styles.scss */
.hero form {
  padding: 2em 0 4em 0;
}
/* line 67, ../sass/styles.scss */
.hero form input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 0;
  width: 36%;
  height: 30px;
  border-radius: 2px 0 0 2px;
  background-color: #f1f0ed;
  opacity: .3;
}
/* line 78, ../sass/styles.scss */
.hero form input[type="button"] {
  color: white;
  padding: 10px 20px;
  border: 0;
  height: 50px;
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  background-color: #6cdcac;
  font-weight: bold;
}

/* line 91, ../sass/styles.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 95, ../sass/styles.scss */
.numbers ul {
  position: relative;
  top: -4em;
  background-color: #f1f0ed;
  overflow: hidden;
  *zoom: 1;
}
/* line 100, ../sass/styles.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #b1b4b9;
  border-bottom: 1px solid #b1b4b9;
  border-left: 1px solid #b1b4b9;
}
/* line 108, ../sass/styles.scss */
.numbers ul li:last-child {
  border-right: 1px solid #b1b4b9;
}
/* line 112, ../sass/styles.scss */
.numbers ul li h2 {
  font-size: 2em;
  padding: 1em 0;
}
/* line 117, ../sass/styles.scss */
.numbers ul li h3 {
  padding: 0 0 2em 0;
}

/* line 126, ../sass/styles.scss */
.how-it-works {
  border-bottom: 1px #b1b4b9 solid;
  overflow: hidden;
  *zoom: 1;
}
/* line 128, ../sass/styles.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
}
/* line 133, ../sass/styles.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #9c9c9c;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 144, ../sass/styles.scss */
.how-it-works ul li {
  float: left;
  width: 33.33%;
  position: relative;
}
/* line 149, ../sass/styles.scss */
.how-it-works ul li:before {
  display: block;
  content: "";
  background-color: #9c9c9c;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 4em;
  left: 50%;
  margin: 0 2em;
}
/* line 161, ../sass/styles.scss */
.how-it-works ul li:last-child:before {
  display: none;
}
/* line 166, ../sass/styles.scss */
.how-it-works ul li .detail .number {
  font-size: 2em;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #f1f0ed;
}
/* line 179, ../sass/styles.scss */
.how-it-works ul li .detail h3 {
  font-size: 2em;
  margin: 1em auto;
  font-weight: bold;
}
/* line 185, ../sass/styles.scss */
.how-it-works ul li .detail i {
  font-size: 3.6em;
}
/* line 189, ../sass/styles.scss */
.how-it-works ul li .detail .fa-list {
  color: #eca95a;
}
/* line 193, ../sass/styles.scss */
.how-it-works ul li .detail .fa-pencil {
  color: #ac9cd2;
}
/* line 197, ../sass/styles.scss */
.how-it-works ul li .detail .fa-users {
  color: #4d99cb;
}
/* line 201, ../sass/styles.scss */
.how-it-works ul li .detail p {
  font-size: 1.5em;
  margin: 10px auto 120px auto;
  color: #b1b4b9;
  width: 210px;
}

/* line 214, ../sass/styles.scss */
.why-choose-us {
  margin-top: 90px;
  border-bottom: 1px #b1b4b9 solid;
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
}
/* line 218, ../sass/styles.scss */
.why-choose-us .title {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
}
/* line 223, ../sass/styles.scss */
.why-choose-us .title:after {
  display: block;
  content: "";
  background-color: #9c9c9c;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 232, ../sass/styles.scss */
.why-choose-us ul {
  margin: 80px 10% 140px 10%;
}
/* line 234, ../sass/styles.scss */
.why-choose-us ul li {
  position: relative;
  width: 50%;
  float: left;
  height: 200px;
}
/* line 239, ../sass/styles.scss */
.why-choose-us ul li i {
  position: relative;
  font-size: 3.6em;
  float: left;
}
/* line 244, ../sass/styles.scss */
.why-choose-us ul li .reason {
  text-align: left;
  margin: 0 10% 0 13%;
  color: #4f4f4f;
}
/* line 248, ../sass/styles.scss */
.why-choose-us ul li .reason h2 {
  font-size: 3em;
}
/* line 251, ../sass/styles.scss */
.why-choose-us ul li .reason p {
  margin-top: 20px;
  line-height: 20px;
  font-size: 1.5em;
  color: #b1b4b9;
}
/* line 259, ../sass/styles.scss */
.why-choose-us ul li .fa-check {
  color: #57b381;
}
/* line 262, ../sass/styles.scss */
.why-choose-us ul li .fa-refresh {
  color: #e69949;
}
/* line 265, ../sass/styles.scss */
.why-choose-us ul li .fa-file-text {
  color: #ec546b;
}
/* line 268, ../sass/styles.scss */
.why-choose-us ul li .fa-tag {
  color: #15a4e4;
}
/* line 271, ../sass/styles.scss */
.why-choose-us ul li .fa-user {
  color: #9e62b7;
}
/* line 274, ../sass/styles.scss */
.why-choose-us ul li .fa-thumbs-up {
  color: #e66949;
}

/* line 283, ../sass/styles.scss */
.about-us {
  text-align: center;
  border-bottom: 1px #b1b4b9 solid;
  overflow: hidden;
  *zoom: 1;
}
/* line 286, ../sass/styles.scss */
.about-us .title {
  margin: 100px auto 0 auto;
  width: 410px;
  overflow: hidden;
  position: relative;
}
/* line 292, ../sass/styles.scss */
.about-us .title h3 {
  width: 200px;
  float: left;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
/* line 299, ../sass/styles.scss */
.about-us .title h3:first-child {
  background-color: #4e5367;
  border: 1px #4e5367 solid;
  color: white;
}
/* line 304, ../sass/styles.scss */
.about-us .title h3:last-child {
  border: 1px #4e5367 solid;
  color: #4e5367;
}
/* line 309, ../sass/styles.scss */
.about-us .description {
  width: 100%;
  margin-top: 40px;
}
/* line 313, ../sass/styles.scss */
.about-us .description i {
  margin-bottom: 30px;
  color: rgba(219, 219, 219, 0.5);
  font-size: 2.5em;
}
/* line 318, ../sass/styles.scss */
.about-us .description p {
  color: #4e5367;
  font-size: 1.5em;
  margin-bottom: 50px;
  padding: 0 20%;
  line-height: 20px;
}
/* line 324, ../sass/styles.scss */
.about-us .description p::after {
  display: block;
  content: "";
  background-color: #9c9c9c;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 333, ../sass/styles.scss */
.about-us .description h3 {
  font-size: 2em;
}
/* line 336, ../sass/styles.scss */
.about-us .description .author {
  color: #4e5367;
}
/* line 339, ../sass/styles.scss */
.about-us .description .intro {
  margin: 10px auto 40px auto;
  color: #b1b4b9;
}
/* line 343, ../sass/styles.scss */
.about-us .description .images {
  margin: 0px auto 120px auto;
  overflow: hidden;
  text-align: center;
  width: 552px;
}
/* line 348, ../sass/styles.scss */
.about-us .description .images .image {
  float: left;
  width: 120px;
  margin: auto 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px #9c9c9c solid;
  padding: 6px;
}
/* line 355, ../sass/styles.scss */
.about-us .description .images .image img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 360, ../sass/styles.scss */
.about-us .description .images .image:first-child, .about-us .description .images .image:last-child {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 370, ../sass/styles.scss */
.find-an-agent {
  padding: 110px 0;
  overflow: hidden;
  background: url("../images/08.jpg");
  background-size: cover;
  text-align: center;
}
/* line 376, ../sass/styles.scss */
.find-an-agent span {
  font-size: 2.5em;
  margin-right: 10px;
  color: white;
}
/* line 382, ../sass/styles.scss */
.find-an-agent input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 0;
  width: 36%;
  height: 30px;
  border-radius: 2px 0 0 2px;
  background-color: #f1f0ed;
  opacity: .7;
}
/* line 393, ../sass/styles.scss */
.find-an-agent input[type="button"] {
  color: white;
  padding: 10px 30px;
  border: 0;
  height: 50px;
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  background-color: #6cdcac;
  font-weight: bold;
}

/* line 406, ../sass/styles.scss */
footer ul {
  margin: 25px 12%;
  overflow: hidden;
  *zoom: 1;
}
/* line 408, ../sass/styles.scss */
footer ul li {
  float: left;
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  line-height: 26px;
  margin-right: 25px;
  color: #b1b4b9;
}
/* line 417, ../sass/styles.scss */
footer ul i {
  float: right;
  margin-right: 25px;
}
/* line 420, ../sass/styles.scss */
footer ul i.fa-twitter {
  color: #3a7aaf;
  font-size: 2.5em;
}
/* line 424, ../sass/styles.scss */
footer ul i.fa-facebook {
  color: #3d5ea8;
  font-size: 2.5em;
}
